<strong>Olá, {{deliverymanName}} </strong>
<p>Você tem uma nova entrega para ser retirada</p>
<p>
  <strong>Número da encomenda: </strong> {{deliveryId}} <br />
  <strong>Nome do destinatário: </strong> {{recipientName}}<br />
  <strong>Cidade do destinatário: </strong> {{recipientCity}}<br />
  <strong>Rua do destinatário: </strong> {{recipientStreet}}<br />

  <br />
</p>
